{% extends 'layout\base.html' %}
{% load static %}
{% block title %}Main page{% endblock %}

{% block content %}
    <div class="container">
        {% for movie in movies %}
        <div class="card" style="width: 15rem;">
          <img src="{{ movie.photo.url }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ movie.name }}</h5>
            <p class="card-text">{{ movie.description }}</p>
            <a href="{% url 'show' movie.id %}" class="btn btn-primary">Show</a>
          </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}